<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lisää liiketyyppi</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
<div class ="container" >
	<div class="row">
		<div class ="col-md-4">
	 		<p>Olet kirjautunut käyttäjänimellä <span sec:authentication="name"></span></p>
	 	</div>
	 <div class ="col-md-4">
	 	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-primary"/> 
	 	</form>	
	 </div>
	</div>
</div>

<div class="container">
<div class="col-md-4">
	<h3>Lisää uusi liiketyyppi</h3>
		
		<form th:object = "${category}" th:action = "@{catsave}" action = "#" method = "post">
		
		<label for = "catname">Liiketyyppi</label>
		<input type = "text" id = "catname" th:field = "*{name}" />
		<div style="clear: both; display: block; height: 10px;"></div>
		
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >
			<p th:each="${#fields.hasErrors('name')}" th:text="${error}"></p> 
		</div>
		
		<input type = "submit" class="btn btn-success" value = "Tallenna">
		<a href = "/categorylist" class ="btn btn-info">Palaa liiketyypitsivulle tallentamatta</a>
				
		</form>
		
		</div>
	</div>
	
	
</body>
</html>