<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Lisää uusi harjoitus</title>
</head>

<body>
	<h1>Lisää uusi harjoitus</h1>
	<div>
		<form th:object = "${movement}" th:action = "@{save}" action = "#" method = "post">
			
			<label for = "date">Päivä</label>
			<input type = "date" id = "date" th:field = "*{date}"/>
			
			<label for = "startTime">Aika (hh.mm)</label>
			<input type = "time" id = "startTime" th:field = "*{startTime}"/>
			
			<label for = "exercise">Liike</label>
			<input type = "text" id = "exercise" th:field = "*{exercise}"/>
			
			<label for = "catList">Tyyppi</label>
			<select id = "catList" th:field = "*{category.catId}" class = "form-control">
			<option th:each = "category: ${categorys}" th:value = "${category.catId}" th:text = "${category.name}"></option>
			</select>
		
			<label for = "inteList">Teho</label>
			<select id = "inteList" th:field = "*{intensity.intId}" class = "form-control">
			<option th:each = "intensity: ${intensitys}" th:value = "${intensity.intId}" th:text = "${intensity.name}"></option>
			</select>

			<label for = "minutes">Minuutit</label>
			<input type = "text" id = "minutes" th:field = "*{minutes}"/>
			
			<label for = "comment">Fiilis</label>
			<input type = "text" id = "comment" th:field = "*{comment}"/>
		
			<input type = "submit" value = "Tallenna"/>
		
		</form>
	</div>
</body>
</html>