<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liiketyypit</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
<div class ="container" >
	<div class="row">
		<div class ="col-md-4">
	 		<p>Olet kirjautunut käyttäjänimellä <span sec:authentication="name"></span></p>
	 	</div>
	 <div class ="col-md-4">
	 	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-primary"/> 
	 	</form>	
	 </div>
	</div>
</div>

<div class="container">
	<div class ="col-md-4">
		<h1>Liiketyypit</h1>
	
		<table class="table table-striped">
			<tr th:each = "category : ${categorys}">
				<td th:text = "${category.name}"></td>
				<td><a th:href = "@{/catdelete/{id}(id=${category.catId})}" class="btn btn-xs btn-danger">Poista</a></td>
			</tr>
		</table>
	
		<a href = "/catadd" class ="btn btn-success">Lisää liiketyyppi</a>
	
		<a href = "/movementlist" class ="btn btn-info">Palaa pääsivulle</a>
	
	</div>
</div>
</body>
</html>