<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Muokkaa harjoitusta</title>
</head>
<body>

<header>
<p>Olet kirjautunut käyttäjänimellä <span sec:authentication="name"></span></p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Kirjaudu ulos" /> 
	</form>
</header>

	<h1>Muokkaa harjoitusta</h1>
	<div>
		<form th:object = "${movement}" th:action = "@{/save}" action = "#" method = "post">
			
			<input type = "hidden" id = "id" th:field = "*{id}" />
			
			<label for = "date">Päivä</label>
			<input type = "date" id = "date" th:field = "*{date}"/>
			
			<label for = "startTime">Aika (hh.mm)</label>
			<input type = "time" id = "startTime" th:field = "*{startTime}">
			
			<label for = "exercise">Liike</label>
			<select id = "exercise" th:field = "*{exercise.exerciseId}" class = "form-control">
			<option th:each = "exercise: ${exercises}" th:value = "${exercise.exerciseId}" th:text = "${exercise.name}"></option>
			</select>
			
			<label for = "catList">Tyyppi</label>
			<select id = "catList" th:field = "*{category.catId}" class = "form-control">
			<option th:each = "category: ${categorys}" th:value = "${category.catId}" th:text = "${category.name}"></option>
			</select>
		
			<label for = "inteList">Teho</label>
			<select id = "inteList" th:field = "*{intensity.intId}" class = "form-control">
			<option th:each = "intensity: ${intensitys}" th:value = "${intensity.intId}" th:text = "${intensity.name}"></option>
			</select>

			<label for = "minutes">Minuutit</label>
			<input type = "text" id = "minutes" th:field = "*{minutes}"/>
			
			<label for = "comment">Fiilis</label>
			<input type = "text" id = "comment" th:field = "*{comment}"/>

		
			<input type = "submit" value = "Tallenna" />
		</form>
	</div>
	<a href = "/movementlist" class ="btn btn-success">Palaa pääsivulle tallentamatta</a>

</body>
</html>