<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liikunta päiväkirja</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>

<div class ="container" >
	<div class="row">
		<div class ="col-md-4">
	 		<p>Olet kirjautunut käyttäjänimellä <span sec:authentication="name"></span></p>
	 	</div>
	 <div class ="col-md-4">
	 	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-primary"/> 
	 	</form>	
	 </div>
	</div>
</div>
	
<div class ="container" >

	<h3>Tervetuloa <span sec:authentication="name"></span>!</h3>
	<a href = "/add" class ="btn btn-success">Lisää uusi päiväkirjamerkintä</a>
	
	<h3>Liikunta päiväkirja</h3>
	
	<table class="table table-striped">
		<tbody>
			<tr>
				<th sec:authorize="hasAuthority('ADMIN')" >Käyttäjä</th>
				<th>Päivä</th>
				<th>Aika</th>
				<th>Liike</th>
				<th>Tyyppi</th>
				<th>Teho</th>
				<th>Minuutit</th>
				<th>Fiilis</th>
			</tr>
			<tr th:each = "movement : ${moves}">
				<td sec:authorize="hasAuthority('ADMIN')" th:text="${movement.appuser.username}" ></td>
				<td th:text = "${#dates.format(movement.date, 'dd.MM.yyyy')}"></td>
				<td th:text = "${movement.startTime}"></td>
				<td th:text = "${movement.exercise}"></td>
				<td th:if = "${movement.category != null}" th:text = "${movement.category.name}"></td>
				<td th:if = "${movement.intensity != null}" th:text = "${movement.intensity.name}"></td>
				<td th:text = "${movement.minutes}"></td>
				<td th:text = "${movement.comment}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/delete/{id}(id=${movement.id})}" class = "btn btn-xs btn-danger">Poista</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href = "@{/edit/{id}(id=${movement.id})}" class = "btn btn-xs btn-primary">Muokkaa</a></td>
			</tr>
		</tbody>
	</table>

	
	<p sec:authorize="hasAuthority('ADMIN')"><a href = "/categorylist" class ="btn btn-warning">Hallinnoi liiketyyppejä</a></p>
	
	<div sec:authorize="hasAuthority('ADMIN')">
	<h3>Rest:</h3>
	<a href = "/movements" class ="btn btn-info btn-sm">Harjoitukset</a>
	<a href = "/categories" class ="btn btn-info btn-sm">Tyypit</a>
	<a href = "/appusers" class ="btn btn-info btn-sm">Käyttäjät</a>
	</div>
	</div>
</body>
</html>