<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Liikunta päiväkirja</title>
</head>

<body>
	<h1>Tervetuloa nimi!</h1>
	
	<p>Lisää uusi:</p>
	<a href = "/add" class ="btn btn-success">liikuntalaji</a>
	<a href = "/add" class ="btn btn-success">harjoitus</a>
	
	
	<h2>Omat liikuntalajit:</h2>
	
	
	<h2>Liikunta päiväkirja</h2>
	
	<table>
		<tbody>
			<tr>
				<th>Päivä</th>
				<th>Aika</th>
				<th>Liike</th>
				<th>Tyyppi</th>
				<th>Teho</th>
				<th>Minuutit</th>
				<th>Fiilis</th>
			</tr>
			<tr th:each = "movement : ${moves}">
				<td th:text = "${#dates.format(movement.date, 'dd.MM.yyyy')}"></td>
				<td th:text = "${movement.startTime}"></td>
				<td th:text = "${movement.exercise}"></td>
				<td th:if = "${movement.category != null}" th:text = "${movement.category.name}"></td>
				<td th:if = "${movement.intensity != null}" th:text = "${movement.intensity.name}"></td>
				<td th:text = "${movement.minutes}"></td>
				<td th:text = "${movement.comment}"></td>
				<td><a th:href = "@{/delete/{id}(id=${movement.id})}" class = "btn btn-danger">Poista</a></td>
				<td><a th:href = "@{/edit/{id}(id=${movement.id})}" class = "btn btn-danger">Muokkaa</a></td>
			</tr>
		</tbody>
	</table>
	<a href = "/categorylist" class ="btn btn-success">Liiketyypit</a>
	
	<div>
	<h3>Rest:</h3>
	<a href = "/movements" class ="btn btn-success">Harjoitukset</a>
	<a href = "/movements" class ="btn btn-success">Liikkeet</a>
	<a href = "/categories" class ="btn btn-success">Tyypit</a>
	<a href = "/movements" class ="btn btn-success">Käyttäjät</a>
	</div>

</body>
</html>