<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lisää uusi liikuntalaji</title>
</head>

<body>
	<h1>Lisää uusi liike</h1>
	
	<div>
		<form th:object = "${exercise}" th:action = "@{/exercisesave}" action = "#" method = "post">
		
		<label for = "exename">Nimi</label>
		<input type = "text" id = "exename" th:field = "*{name}" />
		
		<label for = "rating">Arvosana (0-5)</label>
		<input type = "text" id = "rating" th:field = "*{rating}"/>
		
		<label for = "description">Kuvaus</label>
		<textarea id = "description" th:field = "*{description}" class="form-control" rows="4" cols="50" ></textarea>
		
		<input type = "submit" value = "Tallenna">
		
		</form>
	</div>

	<a href = "/movementlist" class ="btn btn-success">Palaa pääsivulle tallentamatta</a>
	
</body>
</html>